[submodule "docker-library_postgres"]
	path = docker-library_postgres
	url = https://github.com/vipconsult/docker-library_postgres.git
[submodule "SvenDowideit/dockerfiles"]
        path = SvenDowideit/dockerfiles
        url = https://github.com/vipconsult/SvenDowideit_dockerfiles.git

[submodule "michaloo_logrotate"]
        path = michaloo_logrotate
        url = https://github.com/vipconsult/michaloo_logrotate.git
